node_modules
.env
.ssl
schema.js
data
conf
import
logs
neo4j
docker-compose-local.yml
docker-compose-remote.yml
ssl
config
ts_emitted
coverage
.nyc_output
listical-dev-gcp.json
# Stale middleware folder excluded from compilation
middleware/
